* {
    font-family: "General Sans", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-dark: #142941;
    --clr-primary: #fb1241;
    --clr-secondary: #d7882a;
    --clr-accent: #fe7835;
    --clr-lightgray: #ccc;
}

/* --clr-dark: rgb(20, 41, 65) */

button {
    cursor: pointer;
}

input,
button {
    border-radius: 4px;
}

.container {
    display: flex;
    height: 100vh;
}

.container-left {
    height: 100%;
    flex-basis: 35vw;
    background: url("../assets/images/background.jpeg"),
        linear-gradient(to bottom, #000, #fefefe);
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: center;

    overflow: hidden;
}

.logo-container {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 10px rgb(20 40 70 / 30%),
        0px 0px 80px 20px rgb(0 0 0 / 50%),
        0px 0px 130px 20px rgb(255 0 0 / 20%),
        0px 0px 40px 40px rgb(0 0 0 / 30%), 0px 0px 40px 60px rgb(0 0 0 / 10%),
        0px 0px 40px 80px rgb(255 0 0 / 5%);

    & > img {
        /* transform: translateY(-5px); */
        width: min(35vh, 350px);
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .logo-container {
        margin-top: 50px;
    }
}

.container-right {
    flex: 1;
    display: flex;
    flex-direction: column;

    & > * {
        padding-left: 4rem;
        padding-bottom: 4rem;
    }

    & .form-header {
        flex: 1;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 2px 10px rgb(0 0 0 / 7%);

        & .form-header__text {
            font-size: clamp(1.2rem, 1.5rem, 2vw);
            font-weight: 300;
            letter-spacing: 0.02em;
            /* line-height: 2rem; */
            color: var(--clr-dark);
            padding-top: 100px;
            /* margin-right: max(80px, 10vw); */
            width: max(50ch, 20vw);

            & > :last-child {
                margin-top: 20px;
            }
        }
    }

    & .form-body {
        padding-top: 2rem;
        flex: 2;

        .form-row + .form-row {
            margin-top: 2rem;
        }

        label {
            position: relative;
            color: var(--clr-dark);
            font-weight: 500;
        }
    }
}

.emphasize {
    color: var(--clr-primary);
    font-weight: 500;
}

.arrow-link {
    margin-right: 10px;
}

.arrow-link::after {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-weight: 900;
    transform: rotate(-45deg);
}

label[for="first_name"]::after,
label[for="email"]::after,
label[for="password"]::after,
label[for="confirm_password"]::after {
    position: absolute;
    content: "\2a";
    transform: translateX(5px);
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-weight: 900;
    font-size: 0.6em;
}

.form-row {
    display: flex;
    gap: 4rem;
}

.form-submit {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    flex-basis: clamp(200px, 30vw, 300px);
    gap: 1rem;

    .login {
        font-size: 0.9rem;
        color: rgb(20 41 65 / 80%);

        a {
            font-weight: 500;

            &:link {
                color: var(--clr-accent);
            }

            &:visited {
                color: var(--clr-accent);
            }
        }
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;

    input {
        height: 2.2rem;
        width: clamp(200px, 30vw, 300px);
        border: 1px solid var(--clr-lightgray);
        font-size: 0.9rem;
        padding: 0.5rem;

        &::placeholder {
            font-size: 0.9rem;
        }

        &:focus {
            box-shadow: 2px 2px 6px rgb(0 0 0 / 10%);
            outline: none;
        }
    }

    input[type="password"] {
        letter-spacing: 0.1em;
        font-size: 1rem;
    }

    > .validate {
        position: absolute;
        font-size: 0.7rem;
        color: var(--clr-primary);
        font-weight: 500;
        bottom: -1rem;
    }
}

button.sign-up {
    width: 130px;
    font-size: 1.1rem;
    font-weight: 600;
    border: 2px solid transparent;
    padding: 0.4em 1em;
    background-color: var(--clr-primary);
    color: #fff;
    transition: all 200ms;

    &::after {
        content: "\f061";
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        font-weight: 900;
        transform: rotate(-45deg);
        transition: all 200ms;
    }

    &:hover {
        background-color: #fff;
        border: 2px solid var(--clr-primary);
        color: var(--clr-primary);
    }

    &:hover::after {
        transform: rotate(0deg);
        transform: scale(2);
        transform: translateX(5px);
    }
}

.password-validation {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    transform: scale(0);
    transform-origin: top left;
    transition: transform 300ms;

    .pwd-rule-header {
        font-size: 0.7rem;
        color: rgb(20 41 65 / 80%);
        font-weight: 500;
        margin-left: 6px;
        margin-bottom: 4px;

        &::after {
            content: "\f023";
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            font-weight: 900;
        }
    }

    .pwd-rule {
        width: max-content;
        font-size: 0.6rem;
        font-weight: 500;
        color: #868686;
        background-color: #fafafa;
        padding: 0.1rem 1.5rem 0.1rem 0.5rem;
        border: 1px solid #e7e7e7;
        border-radius: 50vw;

        &.valid {
            background-color: rgb(235, 255, 234);
            color: rgb(1, 133, 67);
            border-color: rgb(1, 133, 67);
            position: relative;
            font-weight: 500;
            transition: all 100ms ease-out;

            &::after {
                position: absolute;
                right: 4px;
                top: 3px;
                content: "\f058";
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                font-weight: 900;
                transform: scale(1.2);
            }
        }
    }
}
